html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

:root {
    --pozadi: #f5f5f5;
    --decor: #629edb;
    --seda: #797676;
}
/*
nejužší verze
==============================
- všechno je pod sebou v jedné úzké nudli
- v menu jsou položky pod sebou, menu samotné je nad obsahem
- v galerii jsou všechny obrázky pod sebou
- popisky k obrázkům jsou vždy pod obrázkem (k těm v textu i k těm v galerii)
*/

body {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
}
div {
    margin: auto;
    background-color: var(--pozadi);
}

h1 {
    font-family: 'Raleway', sans-serif; 
    font-size: 3rem;
}

.hlavicka {
    color: var(--pozadi);
    text-align: center;
    background-image: 
        linear-gradient(hsla(240 70% 30% / 0.2),hsla(40 50% 20% / 0.5)),
        url(images/island-hlavicka.jpg);
    background-size: cover;
    padding: 2rem;
}

.hlavicka hr {
    color: var(--pozadi);
    opacity: .7;
    margin: 2rem auto 1rem ;
    border-width: 1px;
}

.autor {
    color: var(--pozadi); 
    opacity:.7; /*pruhlednost*/
    font-style: italic;
}

ul {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
}

li {
    padding: 0.5rem;
    border-bottom: solid 1px #ebe7e7;;
    font-family: 'Raleway', sans-serif; 
    font-size: .85rem;
}

.menu a {
    color: var(--seda);
    text-decoration: none;    
}

h2 {
    padding: 2rem 0 0 2rem ;
}

hr {
    color: var(--decor);
    width: 15%;
    margin: 2rem 0;
    border-style: solid;
    border-width: 2px;
}

p {
    padding: 0.25rem 2rem;
}

h3 {
    font-size: 0.9rem;
    font-weight: 800;
    margin: 0.5rem 0 0 0;
    text-align: center;
    color: var(--seda);
}
.uvod img,
.proc img,
.co img {
    margin-top: 1.8rem;
}

.img_sign {
    text-align: center;
    margin: 0 0 0.5rem 0;
    font-size: 0.8rem;
    color: var(--seda);
}

.img_sign a {
    color: var(--seda)
}

.img {
    width: auto;
}

.footer {
    font-size: 0.8rem;
    color: var(--seda);
    padding: 1rem;
    background-image: linear-gradient(to bottom, #b6b3b3d8, transparent 20%);
}

.footer a {
    color: var(--seda);
}

/*
střední šířka okna
=======================================
- skoro všechno je pod sebou
- v menu jsou položky vedle sebe, menu samotné je nad obsahem
- v galerii jsou vždy 2 obrázky vedle sebe (obrázků je 9, vhodně vyřeš zobrazení lichého na konci)
- popisky k obrázkům v textu jsou uvnitř obrázku blízko k jeho pravému dolnímu rohu
- popisky k obrázkům v galerii jsou skryté a vyjíždějí při najetí myši
*/

@media screen and (min-width: 450px) {
div {
    max-width: 900px;
}
}

/*
breakpointy odvoď podle citu:
nejširší obrazovky
=======================================
- hlavička s obrázkem na pozadí je přes celou šířku stránky
- maximální šířka stránky je 960 px
- v menu jsou položky pod sebou, menu je omezené na úzký proužek a je vlevo od úvodního odstavce textu
- jednotlivé "sekce" se střídají: jednou vpravo a pak zase vlevo, aby web vypadal vizuálně zajímavě
- v galerii jsou vždy 3 obrázky vedle sebe
- popisky k obrázkům v textu jsou stejné jako pro střední šířky (uvnitř obrázku)
- popisky k obrázkům v galerii jsou stejné jako střední šířky (skryté + stejný efekt)
*/